---
const teamMembers = [
  {
    name: "Johana Tapia",
    instagram: "johanatapiag",
    role: "Cofundadora & Product Manager Educativa",
    description: "Me encargo de que cada parte del programa esté bien pensada, estructurada y alineada con los resultados que queremos para nuestras alumnas. Diseño la ruta de aprendizaje, organizo los contenidos y doy soporte durante el proceso para asegurarme de que todas entiendan, avancen y se sientan acompañadas.",
    image: "/assets/Johana.png"
  },
  {
    name: "Barbara Castillo",
    instagram: "_barbara_castillo_",
    role: "Producción ejecutiva",
    description: "Mi rol es guiar a las nuevas alumnas en su proceso de ingreso, respondiendo dudas y orientándolas para que elijan la mejor opción según su camino. También soy profesora dentro del programa, donde enseño herramientas digitales que ayudan a nuestras creadoras a organizarse mejor y profesionalizar su trabajo.",
    image: "/assets/Barbara.png"
  }
];
---

<section id="team" class="py-20 bg-black w-full">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-bold text-white mb-4">Nuestro Equipo</h2>
      <p class="text-xl text-white max-w-3xl mx-auto">Conoce a las personas detrás de Influencer Factory</p>
      <div class="w-24 h-1 bg-secondary mx-auto mt-4"></div>
    </div>

    <div class="flex flex-col md:flex-row md:justify-center md:items-start md:gap-12 gap-32 flex-wrap">
      {
        teamMembers.map((member) => (
        <div class="flex flex-col items-center text-center gap-4 w-full max-w-xs mx-auto px-4">

            <img
              src={member.image}
              alt={member.name}
              class="mb-12 scale-150 md:scale-150 w-192 h-auto transition-transform duration-500"
            />
            <div>
              <h3 class="text-2xl md:text-3xl font-bold text-white mb-2">{member.name}</h3>
              <a
                href={`https://instagram.com/${member.instagram}`}
                target="_blank"
                rel="noopener noreferrer"
                class="text-pink-500 font-medium hover:underline mb-2 block"
              >
                @{member.instagram}
              </a>
              <div class="text-lg text-white font-semibold mb-2">{member.role}</div>
              <div class="text-white/80">{member.description}</div>
            </div>
          </div>
        ))
      }
    </div>
    
  </div>
</section>
